apiVersion: v1
kind: Service
metadata:
  name: web-js-service
  labels:
    env: js
spec:
  selector:
    env: js
  ports:
    - protocol: TCP
      port: 80              ## port to access app inside cluster (cluster ip)
      targetPort: 3000
      nodePort: 30000 # Choose a port number within the range 30000-32767
  type: NodePort
